* {
  margin: 0px;
  padding: 0px;
}

.header {
  height: 100px;
  width: 100%;
  background-color: white;
  position: sticky;
}

.header_icon {
  height: 110px;
  width: 110px; 
  margin-left: 25px;
}

.menu ul {
  list-style: none;
  margin-left: 10%;
  margin-top: -80px;
}

.menu ul li {

  width: 150px;
  height: 35px;
  margin-left: 20px;
  text-align: center;
  line-height: 35px;
  border-radius: 10px;
  float: left;
}

.menu ul li a {
  color: gray;
  font-weight: bold;
  font-size: 20px;
  font-family: arial;
  text-decoration: none;
}

.menu ul li:hover {
  background: yellow;
}

.menu ul ul {
  display: none;
}

.menu ul li:hover>ul {
  display: block;
}
html{
  scroll-behavior: smooth;
}

/* ------------------------------------------------- */
/* End Header */
/* -------------------------------------------------- */
.background-color {
  width: 100%;
  height: 600px;
  position: absolute;
  background-color: #dfdfdf;
}

.image_1 {
  height: 500px;
  width: 500px;
  margin-left: 900px;
  margin-top: 50px;
  position: absolute;
}

.text_1 {
  font-size: 50px;
  font-family: cursive;
  margin-top: 10%;
  position: absolute;
  width: 500px;
  margin-left: 150px;
}

.text_2 {
  font-size: 17px;
  font-family: arial;
  margin-top: 20%;
  position: absolute;
  width: 570px;
  margin-left: 150px;
}
 .table{
  width: 200px;
  height: 50px;
  background-color: red;
  border-radius: 50px;
  margin-top: 350px;
  margin-left: 150px;
 }
 .table a{
  text-decoration: none;
  margin-left: 52px;
  line-height: 50px;
  color: white;
  font-family: arial;
  font-weight: bold;
 }

/* ------------------------------------------------------ */
/* End Home */
/* --------------------------------------------------------- */
.about {
  width: 100%;
  height: 1800px;
  /* background-color: pink; */
}

.aboutus {
  font-family: arial;
  color: gray;
  font-size: 20px;
  margin-left: 750px;
  align-items: center;
  position: absolute;
  margin-top: 680px;
}

.learn_more {
  font-size: 50px;
  font-family: cursive;
  margin-top: 46%;
  position: absolute;
  margin-left: 550px;
}

.image_about1 {
  height: 800px;
  width: 650px;
  position: absolute;
  margin-top: 880px;
  margin-left: 100px;
}

.italic {
  font-style: italic;
  font-size: 17px;
  font-family: arial;
  position: absolute;
  margin-top: 880px;
  margin-left: 850px;
  width: 540px;

}

.peragraph1 {
  font-size: 17px;
  font-family: arial;
  position: absolute;
  margin-top: 950px;
  margin-left: 850px;
  width: 450px;
}

.image_about2 {
  height: 425px;
  width: 520px;
  position: absolute;
}

.greencolor {
  width: 100%;
  height: 600px;
  background-color: #dfdfdf;
  position: absolute;
  margin-top: 116%;
}

.red_box {
  height: 500px;
  width: 450px;
  background-color: red;
  position: absolute;
  margin-top: 3%;
  margin-left: 50px;

}

.red_text {
  font-size: 40px;
  font-family: arial;
  font-weight: bold;
  color: white;
  margin: 50px;
}

.red_text2 {
  font-size: 20px;
  font-family: arial;
  color: white;
  margin-top: 40px;
}

.learn_More {
  height: 50px;
  width: 200px;
  margin-left: 80px;
  margin-top: 50px;
  border-radius: 50px;
  font-size: 20px;
  color: red;
}
.clipbord{
  margin-left: 90px;
  margin-top: 50px;
  position: absolute;
  color: red;
}
.box_1 {
  height: 350px;
  width: 250px;
  background-color: white;
  margin-left: 550px;
  margin-top: 120px;

}

.note {
  font-size: 20px;
  font-family: arial;
  margin-top: 200px;
  position: absolute;
  width: 300px;
  margin-left: 10px;
}

.silver_text {
  font-size: 17px;
  font-family: arial;
  margin-top: 280px;
  position: absolute;
  width: 250px;
  margin-left: 10px;
  color: gray;
}

.box_2 {
  height: 350px;
  width: 250px;
  background-color: white;
  margin-left: 850px;
  margin-top: -350px;
  position: absolute;
}

.note2 {
  font-size: 20px;
  font-family: arial;
  margin-top: 200px;
  position: absolute;
  width: 300px;
  margin-left: 50px;
  position: absolute;
}

.silver_text2 {
  font-size: 17px;
  font-family: arial;
  margin-top: 280px;
  position: absolute;
  width: 250px;
  margin-left: 10px;
  color: gray;
}

.box_3 {
  height: 350px;
  width: 250px;
  background-color: white;
  margin-left: 1150px;
  margin-top: -350px;
}

.note3 {
  font-size: 20px;
  font-family: arial;
  margin-top: 200px;
  position: absolute;
  width: 300px;
  margin-left: 50px;
}

.silver_text3 {
  font-size: 17px;
  font-family: arial;
  margin-top: 280px;
  position: absolute;
  width: 250px;
  margin-left: 10px;
  color: gray;
}

.gredent_color {
  margin-top: 140px;
  height: 200px;
  background-color: red;
  /* For browsers that do not support gradients */
  background-image: linear-gradient(180deg, red, yellow);

}

/* ///////////////////////////////////////////////////////// */

.yellow_color {
  width: 100%;
  height: 1200px;
  background-color: blanchedalmond;
  position: absolute;
  margin-top: 170%;
}

.our_menu {
  font-family: arial;
  font-size: 20px;
  margin-left: 700px;
  color: gray;
  font-weight: bold;
  margin-top: 50px;
}

.yummy_menu {
  font-size: 36px;
  font-family: cursive;
  margin-left: 550px;
  margin-top: 10px;
  color: red;
}

.Starters  {
  margin-top: 35px;
  margin-left: 450px;
  text-decoration: none;
  height: 50px;
  width: 100px;
  font-size: 20px;
  color: white;
  border-radius: 50px;
  background-color: red;
}

.Breakfast {
  margin-top: 35px;
  margin-left: 60px;
  height: 50px;
  width: 100px;
  font-size: 20px;
  color: white;
  border-radius: 50px;
  background-color: red;
  text-decoration: none;
}

.Lunch {
  margin-top: 35px;
  margin-left: 60px;
  height: 50px;
  width: 100px;
  font-size: 20px;
  color: white;
  border-radius: 50px;
  background-color: red;
}

.Dinner {
  margin-top: 35px;
  margin-left: 60px;
  height: 50px;
  width: 100px;
  font-size: 20px;
  color: white;
  border-radius: 50px;
  background-color: red;
}

.menu_0 {
  font-size: 20px;
  font-family: Arial;
  margin-left: 720px;
  margin-top: 20px;
  color: gray;
  font-weight: bold;
}

.Magnam_image {
  height: 300px;
  width: 300px;
  margin-top: 50px;
  margin-left: 100px;
  position: absolute;
}

.Magnam_name {
  font-size: 25px;
  font-weight: bold;
  margin-left: 180px;
  margin-top: 350px;
  font-family: arial;
  position: absolute;
}

.list {
  font-size: 17px;
  font-weight: bold;
  margin-left: 100px;
  font-family: arial;
  margin-top: 380px;
  position: absolute;
}

.rate {
  font-size: 30px;
  font-weight: bold;
  font-family: arial;
  margin-left: 210px;
  margin-top: 400px;
  color: red;
  float: left;
}


.Aut_image {
  height: 300px;
  width: 300px;
  margin-top: 50px;
  margin-left: 300px;
  position: absolute;
}

.Aut_name {
  font-size: 25px;
  font-weight: bold;
  margin-left: 690px;
  margin-top: 350px;
  font-family: arial;
  position: absolute;
}

.list_aut {
  font-size: 17px;
  font-weight: bold;
  margin-left: 600px;
  font-family: arial;
  margin-top: 380px;
  position: absolute;
}

.rate_aut {
  font-size: 30px;
  font-weight: bold;
  font-family: arial;
  margin-left: 410px;
  margin-top: 400px;
  color: red;
  float: left;
}


.Est_image {
  height: 300px;
  width: 300px;
  margin-top: 50px;
  margin-left: 300px;
  position: absolute;
}

.Est_name {
  font-size: 25px;
  font-weight: bold;
  margin-left: 1150px;
  margin-top: 350px;
  font-family: arial;
  position: absolute;
}

.list_Est {
  font-size: 17px;
  font-weight: bold;
  margin-left: 1100px;
  font-family: arial;
  margin-top: 380px;
  position: absolute;
}

.rate_Est {
  font-size: 30px;
  font-weight: bold;
  font-family: arial;
  margin-left: 410px;
  margin-top: 400px;
  color: red;
  float: left;
}

.Eos_image {
  width: 300px;
  height: 300px;
  margin-left: 100px;
  margin-top: 50px;

}

.Eos_name {
  font-size: 25px;
  font-weight: bold;
  margin-left: 180px;
  font-family: arial;
  position: absolute;
  margin-top: 10px;
}

.list_Eos {
  font-size: 17px;
  font-weight: bold;
  margin-left: 100px;
  font-family: arial;
  margin-top: 40px;
  position: absolute;
}

.rate_Eos {
  font-size: 30px;
  font-weight: bold;
  font-family: arial;
  margin-top: 60px;
  color: red;
  margin-left: 200px;

}


.eso_image {
  height: 300px;
  width: 300px;
  float: right;
  margin-top: -420px;
  margin-left: 600px;
  position: absolute;
}

.eso_name {
  font-size: 25px;
  font-weight: bold;
  margin-left: 680px;
  font-family: arial;
  margin-top: -90px;
  position: absolute;
}

.eso_list {
  font-size: 17px;
  font-weight: bold;
  margin-left: 600px;
  font-family: arial;
  margin-top: -60px;
  position: absolute;
}

.eso_rate {
  font-size: 30px;
  font-weight: bold;
  font-family: arial;
  margin-top: -40px;
  color: red;
  margin-left: 700px;
  position: absolute;
}

.Laboriosam_image {
  height: 300px;
  width: 300px;
  float: right;
  margin-top: -400px;
  margin-left: 1100px;
  position: absolute;
}

.Laboriosam_name {
  font-size: 25px;
  font-weight: bold;
  margin-left: 1150px;
  font-family: arial;
  margin-top: -90px;
  position: absolute;
}

.Laboriosam_list {
  font-size: 17px;
  font-weight: bold;
  margin-left: 1120px;
  font-family: arial;
  margin-top: -60px;
  position: absolute;
}

.Laboriosam_rate {
  font-size: 30px;
  font-weight: bold;
  font-family: arial;
  margin-top: -40px;
  color: red;
  margin-left: 1230px;
  position: absolute;
}
.menu_image{
  width: 800;
  height: 400px;
  margin-top: 60px;
  margin-left: 100px;
}
.menu_image2{
  width: 800;
  height: 400px;
  margin-top: 60px;
  margin-left: 100px;
  position: absolute;
}
.events{
  font-size: 20px;
  color: gray;
  font-family: arial;
  margin-top: 50px;
  font-weight: bold;
  margin-left: 700px;
}
.Your_Moments{
  font-family: cursive;
  color: red;
  font-size: 40px;
  margin-left: 400px;
  margin-top: 10px;
}
.custom_image{
  width: 480px;
  height: 500px;
  margin-top: 40px;
  position: absolute;
}
.custom_name{
  font-family:  arial;
  margin-top: 550px;
  font-size: 30px;
  font-weight: bold; 
  color: black;
  position: absolute;
}
.custom_rate{
  font-family:  arial;
  margin-top: 580px;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  color: black;
}
.custom_p{
  font-family:  arial;
  margin-top: 620px;
  font-size: 20px;
  width: 510px;
  position: absolute;

}

.birthday_image{
  width: 480px;
  height: 500px;  
  margin-top: 40px;
  margin-left: 510px;
  position: absolute;
}
.birthday_name{
  font-family:  arial;
  margin-left: 520px;
  margin-top: 550px;
  font-size: 30px;
  font-weight: bold; 
  color: black;
  position: absolute;
}
.birthday_rate{
  font-family:  arial;
  margin-left: 520px;
  margin-top: 580px;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  color: black;
}
.custom_p2{
  font-family:  arial;
  margin-top: 620px;
  margin-left: 520px;
  font-size: 20px;
  width: 510px;
  position: absolute;
}

.Private_image{
  width: 480px;
  height: 500px;  
  margin-top: 40px;
  margin-left: 1020px;
  position: absolute;
}
.Private_name{
  font-family:  arial;
  margin-left: 1030px;
  margin-top: 550px;
  font-size: 30px;
  font-weight: bold; 
  color: black;
  position: absolute;
}
.Private_rate{
  font-family:  arial;
  margin-left: 1030px;
  margin-top: 580px;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  color: black; 
}
.Private_p2{
  font-family:  arial;
  margin-top: 620px;
  margin-left: 1030px;
  font-size: 20px;
  width: 480px;
  position: absolute;
}
/* End Event */


.CHEFS{
  width: 100%;
  height: 800px;  
  background-color: #dfdfdf;
  margin-top: 800px;
}
.chefs_heading{
  font-size: 20px;
  color: gray;
  font-weight: bold;
  font-family: Arial;
  margin-left: 720px;
}
.Proffesional_Chefs{
  font-size: 40px;
  font-family: cursive;
  margin-left: 550px;
  margin-top: 10px;
  color: red;
}

.first_chef{
  height: 600px;
  width: 450px;
  background-color: #ffff;
  position: absolute;
  margin-top: 50px;
  margin-left: 50px;
  border-radius: 50px;
}
.first_chef_image{
  height: 400px;
  width: 450px;
 position: absolute;
}
.first_chef_name{
  font-size: 20px;
  font-family: arial;
  font-weight: bold;
  margin-top: 400px;
  margin-left: 150px;
}
.Master_Chef{
  font-size: 17px;
  font-family: arial;
  margin-left: 160px;
}
.master_dis{
  margin-top: 20px;
  font-size: 17px;
  font-style: italic;
  width: 400px;
  margin-left: 30px;
}

.second_chef{
  height: 600px;
  width: 450px;
  background-color: #ffff;
  margin-top: 50px;
  margin-left: 550px;
  position: absolute;
  border-radius: 50px;
}
.second_chef_image{
  height: 400px;
  width: 450px;
 position: absolute;
}
.second_chef_name{
  font-size: 20px;
  font-family: arial;
  font-weight: bold;
  margin-top: 400px;
  margin-left: 150px;
}
.Patissier{
  font-size: 17px;
  font-family: arial;
  margin-left: 185px;
}
.master_dis2{
  margin-top: 20px;
  font-size: 17px;
  font-style: italic;
  width: 400px;
  margin-left: 30px;
}

.third_chef{
  height: 600px;
  width: 450px;
  background-color: #ffff;
  position: absolute;
  margin-top: 50px;
  margin-left: 1050px;
  border-radius: 50px;
}
.third_chef_image{
  height: 400px;
  width: 450px;
 position: absolute;
}
.third_chef_name{
  font-size: 20px;
  font-family: arial;
  font-weight: bold;
  margin-top: 400px;
  margin-left: 150px;
}
.Cook{
  font-size: 17px;
  font-family: arial;
  margin-left: 220px; 
}
.master_dis3{
  margin-top: 20px;
  font-size: 17px;
  font-style: italic;
  width: 400px;
  margin-left: 30px;
}

/* End Chef */

.book_a_table{
  width: 100%;
  height: 700px;
  background-color: #dfdfdf;
  margin-top: 780px;
}

.table_heading{
  font-size: 20px;
  color: gray;
  font-weight: bold;
  font-family: Arial;
  margin-left: 700px;
}
.table_book{
  font-size: 40px;
  font-family: cursive;
  margin-left: 580px;
  margin-top: 10px;
  color: red;
}
.table_image{
  width: 350px;
  height: 500px;
  margin-left: 50px;
  margin-top: 50px;
  position: absolute;
  font-size: larger;
}
.name{
  margin-left: 450px;
  margin-top: 100px;
  height: 40px;
  width: 250px;
  text-align: center;
  font-size: larger;
}
.email{
  margin-left: 50px;
  margin-top: 40px;
  height: 40px;
  width: 250px;
  text-align: center;
  font-size: larger;
}
.Phone{
  margin-left: 50px;
  margin-top: 40px;
  height: 40px;
  width: 250px;
  text-align: center;
  font-size: larger;
}
.Date{
  margin-left: 450px;
  margin-top: 40px;
  height: 40px;
  width: 250px;
  text-align: center; 
  font-size: larger;
}
.time{
  margin-left: 50px;
  margin-top: 40px;
  height: 40px;
  width: 250px;
  text-align: center; 
  font-size: larger;
}
.ins_dis{
  margin-left: 50px;
  margin-top: 40px;
  height: 40px;
  width: 250px;
  text-align: center; 
  font-size: larger;
}
.massage {
  margin-left: 450px;
  margin-top: 40px;
  height: 150px;
  width: 860px; 
 text-align:  center;
 font-size: larger;
}
.Book_a_table2{
  margin-top: 50px;
  margin-left: 790px;
  height: 50px;
  width: 200px;
  font-size: 20px;
  color: white;
  border-radius: 50px;
  background-color: red;
} 

/* End Book table from */

.gallery{
  width: 100%;
  height: 800px;
  background-color: #dfdfdf;
  margin-top: 70px;
  position: absolute;
}
.GALLERY_text{
  font-size: 20px;
  color: gray;
  font-family: Arial;
  margin-left: 750px;
  font-weight: bold;
}
.Check_Our_Gallery{
  font-size: 40px;
  font-family: cursive;
  color: red;
  margin-left: 650px;
 
}
.overlap{
  margin-left: 130px;
} 
.gallery_1{
  height: 300px;
  width: 300px;
  border: 8px solid red;
}
.gallery_2{
  height: 300px;
  width: 300px;
  border: 8px solid red;
}
 .gallery_3{
  height: 300px;
  width: 300px;
  border: 8px solid red;
 }
 .gallery_4{
  height: 300px;
  width: 300px;
  border: 8px solid red;
 }
 .gallery_5{
  height: 300px;
  width: 300px;
  border: 8px solid red;
 }
 .gallery_6{
  height: 300px;
  width: 300px;
  border: 8px solid red;
 }
 .gallery_7{
  height: 300px;
  width: 300px;
  border: 8px solid red;
 }

 /* End Gallery */

 .contact{
  width: 100%;
  height: 700px;
  background-color: #dfdfdf;
  margin-top: 940px;
 }
 .contact_name{
  font-size: 20px;
  color: gray;
  font-family: arial;
  font-weight: bold;
  margin-left: 700px;
 }
 .contact_us{
  font-size: 40px;
  font-family: cursive;
  margin-left:550px;
  color: red;
 }
 .map_image{
  width: 1300px;
  height: 500px;
  margin-left: 110px;
  margin-top: 50px;
 }
 .contact_2{
  margin-left: 100px;
 
  position: absolute;
 }
 .home{
  
  height: 80px;
  width: 80px;
  color: red;
 }
.address{
  position: absolute;
  font-family:  arial;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  margin-left: 70px;
  margin-top: -60px;
  color: gray;
}
.our_address{
  font-family: arial;
  font-size: 17px;
  margin-left: 70px;
  margin-top: -40px;

}


.gmail1{
  margin-left: 1150px;
  position: absolute;
}
.gmail_image{
  height: 80px;
  width: 80px;
  
}
.gmail{
  position: absolute;
  font-family:  arial;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  margin-left: 90px;
  margin-top: -60px;
  color: gray;
}
.gmail_id{
  font-family: arial;
  font-size: 17px;
  margin-left: 90px;
  margin-top: -40px;
}
 

.Call_Us{
 
  margin-left: 700px;
  position: absolute;
}
.call_image{
  height: 70px;
  width: 70px;
  color: red;
}
.call{
  position: absolute;
  font-family:  arial;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  margin-left: 80px;
  margin-top: -60px;
  color: gray;
}
.phone{
  font-family: arial;
  font-size: 17px;
  margin-left: 80px;
  margin-top: -40px;
}


.name0{
  width: 600px;
  height: 40px;
  margin-top: 100px;
  margin-left: 100px;
}
.email0{
  width: 600px;
  height: 40px;
  margin-top: 100px;
  margin-left: 100px;
}
.subject{
  width: 1310px;
  height: 40px;
  margin-top: 10px;
  margin-left: 100px;
}
.message{
  width: 1310px;
  height: 80px;
  margin-top: 10px;
  margin-left: 100px;
}

/* End Footer */

.footer_color{
  margin-top: 50px;
  height: 300px;
  width: 100%;
  position: absolute;
  background-color:greenyellow;
}
.add{
  margin-top: 50px;
  margin-left: 150px;
}
.add_b{
  color: white;
  font-weight: bold;
}
.address_main{
  margin-top: 5px;
  font-size: 25px;
  font-weight: 0px;
  color: white;
}

.reservations{
  margin-top: 10px;
  margin-left: 500px;
  position: absolute;
}
.reservations_bold{
  font-size: 20px;
  font-family: arial;
  font-weight: bold;
  color: whi;
}
.reservations_main{
  margin-top: 5px;
  font-family: arial;

}